body {
  margin: 0;
  padding: 0;
  background: black;
}
header h1 {
  margin: 10px 0;
  text-align: center;
  font-size: 30px;
  color: white;
}
main {
  margin: 0;
  padding: 0;
}
main img {
  width: 100%;
  margin: 0;
  padding: 0;
}
main div {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10%;
}
.img1 {
  animation: img1 30s ease 3s normal infinite;
  z-index: 1;
}
@keyframes img1 {
  /*animetion-nameで設定した値を書く*/
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.img2 {
  animation: img2 30s ease 3s normal infinite;
}
@keyframes img2 {
  /*animetion-nameで設定した値を書く*/
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.img3 {
  animation: img3 30s ease 3s normal infinite;
}
@keyframes img3 {
  /*animetion-nameで設定した値を書く*/
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.img4 {
  animation: img4 30s ease 3s normal infinite;
}
@keyframes img4 {
  /*animetion-nameで設定した値を書く*/
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.img5 {
  animation: img5 30s ease 3s normal infinite;
}
@keyframes img5 {
  /*animetion-nameで設定した値を書く*/
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* サイトマップ */
aside {
  position: absolute;
  display: flex;
  margin: 0;
  padding: 0;
  color: aliceblue;
  z-index: 2;
  top: 70%;
  right: 0;
}
aside div {
  width: 160px;
  text-align: center;
  margin: 0;
  padding: 0;
}
aside div ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
aside h1 {
  font-size: 30px;
  margin: 0;
  padding: 0;
}
aside li {
  font-size: 20px;
  margin: 0;
  padding: 0;
  /* border: 1px solid white; */
}
aside li:hover {
  background: white;
  color: black;
}
/* コピーライト */
footer {
  margin: 540px 0 0 0;
}
footer p {
  text-align: center;
  margin: 0;
  padding: 0;
  color: aliceblue;
}
