body {
  margin: 0;
  padding: 0;
  background: black;
}

canvas {
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 0;
}

.record {
  color: white;
  text-align: center;
  font-size: 34px;
  font-weight: bold;
}

#close {
  width: 80px;
  height: 40px;
  position: absolute;
  top: 5px;
  right: 5px;
}
#retry {
  width: 80px;
  height: 40px;
  position: absolute;
  top: 5px;
  right: 90px;
}

#turn {
  width: 80%;
  height: 100px;
  display: block;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  margin-top: 10px;
}

#turn button {
  margin: 0 10px;
  padding: 0;
  width: 125px;
  height: 100px;
}

img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
}

@media screen and (max-width: 650px) {
  canvas {
    margin-top: 60px;
    width: 100%;
  }
  .record {
    font-size: 24px;
  }

  #turn {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 200px;
  }
}
